# Include one file at the top
include README.md
include LICENSE

# Include DB
include src/sachagrilla/sachagrilla.db

# Include all files in a folder
include docs/*
include src/sachagrilla/data/grids/*
include src/sachagrilla/fonts/*
